{{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_row(form.first_name) }}</div>
        <div class="col">{{ form_row(form.last_name) }}</div>
    </div>
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
{{ form_end(form) }}
