<li class="list-group-item">
    <a href="tel:{{ contact.phone}}"><i class="bi bi-telephone"></i></a>
    <p>{{ contact.firstName }} {{ contact.lastName }}<br/>
    <strong>{{ contact.phone }}</strong> {{ contact.email }}</p>
</li>
